<% include ../partials/header %>



 
 <center>
     <div>

    
    <div class="row">
        <div class="col-md-4">

        </div>
                      <div class="col-md-4 text-center" >
                            <h1 class="text-center">Add new comment to <%= campground.name %></h1>
                            <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
                                <div class="form-group">
                                        <input type="text" placeholder="name" name="comment[text]" class="form-control" placeholder="comment here">
                                </div>
                                <div class="form-group">
                                        <input type="text" placeholder="image url" name="comment[author]" class="form-control" placeholder="
                                        author">
                                </div>
                                                            
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block" class="form-control">Submit</button>
                                </div>
                                
                                <div class="form-group">
                                <a href="/campgrounds">Back to Campground</a>    
                                </div>
                               
                               </form>

            
                        </div>
        
        <div class="col-md-4">
            
                </div>
    </div>
   
  </div>
</center>

